@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
// font-family: 'Fredericka the Great', cursive;
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
// font-family: 'Poiret One', cursive;
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
// font-family: 'Vidaloka', serif;
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
// font-family: 'Paytone One', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900');
// font-family: 'Playfair Display SC', serif;
@import url('https://fonts.googleapis.com/css?family=Pacifico');
// font-family: 'Pacifico', cursive;
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
// font-family: 'Vidaloka', serif;
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
// font-family: 'Abril Fatface', cursive;
@font-face {
    font-family: 'Neon Online';
    src: url(../fonts/I_am_online_with_u.ttf) format('truetype'),
        url(../fonts/I_am_online_with_u.woff) format('woff');
  }

  @font-face {
    font-family: 'Neon2';
    src: url(../fonts/neon2.ttf) format('truetype'),
        url(../fonts/neon2.woff) format('woff');
  }

