.section {
    opacity: 0;
    transform: translateX(-25vw);
    transition: opacity 0.24s ease-out, transform 0.25s ease-out 0.09s;

    @media (max-width: $screen-xs-max)  {
        transform: translateX(-10vw);
    }

    &--is-in-view {
        opacity: 1;
        transform: translateX(0vw);
        transition: opacity 0.35s ease-out 0.12s, transform 0.3s ease-out;
    }

    
}