.Card {
  background-color: $white-75;
  border: 1px solid $white-75;
  padding: 10px 40px 40px;
  margin: 40px auto 60px;
  border-radius: 20px;
  box-shadow: $white-glow;
  position: relative;
  z-index: 3;
  color: $font-color;

  @media (max-width: $screen-xs-max) {
    padding: 10px 15px 40px;
  }

  font-family: "Poiret One", cursive;
  font-size: 1.2em;

  &__title {
    font-family: "Playfair Display", serif;
    text-align: left;
    font-size: 2em;
    margin: 10px 0 40px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  &__content {
    display: flex;

    @media (max-width: $screen-xs-max) {
      flex-flow: column-reverse;
    }
  }

  &__content-description {
    width: calc(100% - 400px);
    margin: 0 10px 0 0;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  &__content-image-container {
    position: relative;
    
    @media (max-width: $screen-xs-max) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__content-image,
  &__content-image-blurred {
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 10px 0 0;
    transform: translate3d(0, 0, 0);
  }

  &__content-image-blurred {
    // transform: scale(1.02);

    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(14px) saturate(1.8);
  }
}
