
a {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-webkit-tap-highlight-color: transparent;
user-select: none;
}

body {
  background-color: $rose;
  position: relative;
}


.App {
  position: relative;
  overflow: hidden;
}

.particles {
  position: absolute;
  display: block;

  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: 100%;
  
  @media (max-width: $screen-md-max) {
    height: 0;
    display: none;
  }
}

.particles--mobile {
  display: none;
  height: 0;
  z-index: 20;

  @media (max-width: $screen-md-max) {
  display: block;
  height: 100%;
  }
}

.main {
  padding: 70px 0 35px;
}

.section {
  padding-top: 20px;
  
  @media (max-width: $screen-md-max) {
    // padding-top: 60px;
  }
}