body {
  background-color: $rose;
  position: relative;
}

body, html {
  overflow-x: hidden;
  height: 100%;
}

.App {
  position: relative;
  overflow: hidden;
}

.particles {
  position: absolute;

  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: 100vh;
  
  @media (max-width: $screen-md-max) {
    height: 0;
  }
}

.main {
  padding: 70px 0 35px;
}