body {
  background-color: $rose;
  position: relative;
}

body, html {
  overflow-x: hidden;
  height: 100%;
}

.particles {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  padding: 70px 0 35px;
}