.Card {
  background-color: $white-75;
  border: 1px solid $white-75;
  padding: 10px 40px 40px;
  margin: 40px auto 60px;
  border-radius: 20px;
  box-shadow: $white-glow;
  position: relative;
  z-index: 3;
  color: $font-color;

  font-family: "Poiret One", cursive;
  font-size: 1.2em;

  &__title {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2em;
    margin: 10px 0 40px;
  }

  &__content {
    display: flex;
  }

  &__content-description {
    width: calc(100% - 400px);
    margin: 0 10px 0 0;
  }

  &__content-image-container {
    position: relative;
  }

  &__content-image,
  &__content-image-blurred {
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 10px 0 0;
  }

  &__content-image-blurred {
    transform: scale(1.02);
    opacity: 0.75;

    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(14px) saturate(1.8);
  }
}
