$stronger-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.75);
$strong-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.65);
$weak-shadow: 0px 10px 28px 1px rgba(0, 0, 0, 0.1);

$white: #fff;
$white-95: rgba(255, 255, 255, 0.95);
$white-75: rgba(255, 255, 255, 0.75);
$white-40: rgba(255, 255, 255, 0.4);
$white-glass: rgba(255, 255, 255, 0.1);

$white-glow: 0 4px 20px 1px $white-40;

$rose: rgb(255, 206, 224);
// $rose: #FF8EB8;
$copper-gradient: #d4beb1;
// $copper-gradient: rgb(116, 38, 16);
$copper-gradient-dark: #af957e;
// $copper-gradient-dark: rgb(63, 14, 0);
$copper-gradient-light: #fbeae3;
// $copper-gradient-light: #ffe7e7;