@import url("https://fonts.googleapis.com/css?family=Poiret+One");
// font-family: 'Poiret One', cursive;
@import url("https://fonts.googleapis.com/css?family=Vidaloka");
// font-family: 'Vidaloka', serif;
@import url("https://fonts.googleapis.com/css?family=Pacifico");
// font-family: 'Pacifico', cursive;
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext");
// font-family: 'Abril Fatface', cursive;
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
// font-family: 'Amatic SC', cursive;
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");
// font-family: 'Playfair Display', serif;

.title {
  position: relative;
  white-space: nowrap;
  margin-bottom: 80px;

  &__section {
    font-family: "Poiret One", cursive;
    top: 0;
    font-size: 4em;
    text-align: center;
    display: block;
    letter-spacing: 0.25em;
    color: $font-color;

    @media (max-width: $screen-xs-max) {
      font-size: 1.4em;
    }

    &:before,
    &:after {
      content: " ~ ";
    }
  }

  &__background {
    // font-family: 'Abril Fatface', cursive;
    font-family: "Playfair Display", serif;
    // font-family: "Poiret One", cursive;
    color: $white-40;
    opacity: 0.5;
    font-size: 20em;
    letter-spacing: 1px;
    position: absolute;
    z-index: -1;
    top: -330px;
    left: 0%;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    pointer-events: none;

    // filter: blur(6px);
  }
}
