@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Vidaloka");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Vidaloka");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
.container {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto; }
  @media (min-width: 769px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (max-width: 768px) {
    .container {
      width: auto;
      padding: 0 15px;
      margin: auto; } }

/* 
Extra small devices (<768px): width: auto (or no width)
Small Devices (≥768px): width: 750px
Medium Devices (≥992px): width: 970px
Larger Devices (≥1200px): width: 1170px
 */
body {
  background-color: #FEC1D9;
  position: relative; }

body, html {
  overflow-x: hidden;
  height: 100%; }

.particles {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0; }

.main {
  padding: 70px 0 35px; }

.Nav {
  position: relative;
  box-shadow: 0px 10px 28px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(36, 36, 36, 0.63);
  font-size: 1.2em;
  font-family: 'Vidaloka', serif; }
  .Nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0; }
  .Nav__list-item {
    text-align: center;
    list-style: none; }
  .Nav__list-item-link {
    padding: 15px 5px;
    display: block;
    position: relative; }
    .Nav__list-item-link:after, .Nav__list-item-link:before {
      content: "";
      height: 10px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      background-color: #FEC1D9;
      transition: transform 0.25s ease-out; }
    .Nav__list-item-link:before {
      top: 0;
      right: 0;
      transform-origin: right; }
    .Nav__list-item-link:hover {
      cursor: pointer; }
      .Nav__list-item-link:hover:after, .Nav__list-item-link:hover:before {
        transform: scaleX(1);
        transition: transform 0.25s ease-out; }

.Card {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #fff;
  padding: 10px 40px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 5px rgba(255, 255, 255, 0.4);
  position: relative;
  z-index: 3;
  color: rgba(36, 36, 36, 0.63);
  font-family: 'Poiret One', cursive;
  font-size: 1.2em; }
  .Card__title {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 2em;
    margin: 10px 0 40px; }
  .Card__content {
    display: flex; }
  .Card__content-description {
    width: calc(100% - 400px);
    margin: 0 10px 0 0; }
  .Card__content-image-container {
    position: relative; }
  .Card__content-image, .Card__content-image-blurred {
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 10px 0 0; }
  .Card__content-image-blurred {
    transform: scale(1.03);
    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(18px); }
