@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Vidaloka");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");
.container {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto; }
  @media (min-width: 769px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (max-width: 768px) {
    .container {
      width: auto;
      padding: 0 15px;
      margin: auto; } }

/* 
Extra small devices (<768px): width: auto (or no width)
Small Devices (≥768px): width: 750px
Medium Devices (≥992px): width: 970px
Larger Devices (≥1200px): width: 1170px
 */
.title {
  position: relative;
  white-space: nowrap;
  margin-bottom: 80px; }
  .title__section {
    font-family: "Poiret One", cursive;
    top: 0;
    font-size: 4em;
    text-align: center;
    display: block;
    letter-spacing: 0.25em;
    color: rgba(36, 36, 36, 0.63); }
    @media (max-width: 768px) {
      .title__section {
        font-size: 1.4em; } }
    .title__section:before, .title__section:after {
      content: " ~ "; }
  .title__background {
    font-family: "Playfair Display", serif;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20em;
    letter-spacing: 1px;
    position: absolute;
    z-index: -1;
    top: -330px;
    left: 0%;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    pointer-events: none;
    filter: blur(6px); }

/* STYLING FOR COLLAPSE BURGER */
/* * Collapse */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger {
  position: relative;
  z-index: 2000;
  padding: 16px 0;
  display: none;
  top: 6px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  @media (max-width: 1199px) {
    .hamburger {
      display: inline-block; } }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

body {
  background-color: #FEC1D9;
  position: relative; }

body, html {
  overflow-x: hidden;
  height: 100%; }

.App {
  position: relative;
  overflow: hidden; }

.particles {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: 100%; }
  @media (max-width: 1199px) {
    .particles {
      height: 0;
      display: none; } }

.main {
  padding: 70px 0 35px; }

.section {
  padding-top: 40px; }

.Nav {
  box-shadow: 0px 10px 28px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: rgba(36, 36, 36, 0.63);
  font-size: 1.2em;
  font-family: "Vidaloka", serif;
  background-color: rgba(255, 255, 255, 0.95); }
  @media (max-width: 1199px) {
    .Nav:before {
      content: "";
      position: fixed;
      border-bottom: 1px solid #d4beb1;
      height: 74px;
      background-color: rgba(255, 255, 255, 0.95);
      width: 100%; } }
  .Nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0; }
    @media (max-width: 1199px) {
      .Nav__list {
        display: flex;
        background-color: rgba(255, 255, 255, 0.95);
        flex-flow: column nowrap;
        align-self: center;
        position: fixed;
        top: 74px;
        left: 0;
        width: 100%;
        z-index: -10000;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform ease-in 0.26s, opacity ease-in 0.13s; } }
  @media (max-width: 1199px) {
    .Nav__list--open {
      opacity: 1;
      transform: translateY(0%);
      transition: transform ease-out 0.26s, opacity ease-out 0.16s 0.10s; } }
  .Nav__list-item {
    text-align: center;
    list-style: none; }
  .Nav__list-item-link {
    padding: 15px 5px;
    display: block;
    position: relative; }
    .Nav__list-item-link:after, .Nav__list-item-link:before {
      content: "";
      height: 10px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      background-color: #FEC1D9;
      transition: transform 0.25s ease-out 0.15s; }
    .Nav__list-item-link:before {
      top: 0;
      right: 0;
      transform-origin: right; }
    @media (max-width: 768px) {
      .Nav__list-item-link {
        border-bottom: 1px solid #fbeae3; } }
    .Nav__list-item-link:hover {
      cursor: pointer; }
      .Nav__list-item-link:hover:after, .Nav__list-item-link:hover:before {
        transform: scaleX(1);
        transition: transform 0.25s ease-out; }

.Card {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 10px 40px 40px;
  margin: 40px auto 60px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 5px rgba(255, 255, 255, 0.4);
  position: relative;
  z-index: 3;
  color: rgba(36, 36, 36, 0.63);
  font-family: "Poiret One", cursive;
  font-size: 1.2em; }
  .Card__title {
    font-family: "Playfair Display", serif;
    text-align: left;
    font-size: 2em;
    margin: 10px 0 40px; }
  .Card__content {
    display: flex; }
    @media (max-width: 768px) {
      .Card__content {
        flex-flow: column-reverse; } }
  .Card__content-description {
    width: calc(100% - 400px);
    margin: 0 10px 0 0; }
    @media (max-width: 768px) {
      .Card__content-description {
        width: 100%; } }
  .Card__content-image-container {
    position: relative; }
    @media (max-width: 768px) {
      .Card__content-image-container {
        max-width: 300px;
        margin: 0 auto; } }
  .Card__content-image, .Card__content-image-blurred {
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 10px 0 0; }
  .Card__content-image-blurred {
    transform: scale(1.02);
    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(14px) saturate(1.8); }

.Social {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px 5px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  border-radius: 0 20px 20px 0;
  width: 80px;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: calc(50% - 100px);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center; }
  @media (max-width: 1199px) {
    .Social {
      box-shadow: none;
      background-color: transparent;
      border: none;
      width: calc(100% - 74px);
      top: 0;
      right: 0;
      left: auto;
      flex-flow: row nowrap;
      justify-content: flex-end; } }
  .Social__icons {
    width: 50px;
    display: flex;
    position: relative;
    margin: 5px; }
    @media (max-width: 1199px) {
      .Social__icons {
        margin: 0 5px; } }
  .Social__icons-img {
    width: 100%;
    height: 50px; }
  .Social__icons-img--hover {
    filter: saturate(1.2); }
  .Social__icons-img--blurred {
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    filter: blur(1px);
    transform: scale(1);
    transition: transform 0.25s 0.15s, filter 0.25s 0.45s; }
  .Social__icons-img--hover:hover ~ .Social__icons-img--blurred {
    filter: blur(4px);
    transform: scale(1.2);
    transition: transform 0.25s 0.15s, filter 0.25s 0.25s; }
