// @import "../styles/variables/hamburger.scss";

.Nav {
  border-bottom: 2px solid  black;
  position: relative;

  &:after {
    content:"";
    width: 200vw;
    height: 4px;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, $copper-gradient 5%, $copper-gradient-dark 8%, $copper-gradient-light 10%,  
    $copper-gradient-dark 15%, $copper-gradient-light 20%,
    $copper-gradient-dark 25%, $copper-gradient 60%, $copper-gradient-dark 70%, 
    $copper-gradient-light 75%, $copper-gradient-dark 80%, $copper-gradient 85%, $copper-gradient-light 90%);
    // background: linear-gradient(0.25turn, #B22800 20%, #ebf8e1 45%, #ebf8e1 55%, #B22800 90%);
    transform: translateX(0);
    transition: transform 5s ease-out;
  }

  &:hover {
    &:after {
      transform: translateX(-100vw);
      transition: transform 5s ease-in;
    }
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: $white-95;

    @media (max-width: $screen-md-max) {
      flex-flow: column nowrap;
    }
  }

  &__list-item {
    text-align: center;
    list-style: none;
  }

  &__list-item-link {
    padding: 15px 5px;
    display: block;
  }
}
